html { 
    background: url('https://wallpapercave.com/wp/wp2471615.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    color: white; 
}

h1 {
    color: aqua;
    text-align: center; 
}

.menu {
    text-align: center; 
}

.windowarea {
    width: 500; 
    height: 500; 
}

button {
    margin: 6px; 
    background-color: blueviolet;
    color: dodgerblue;
    padding: 10px 10px; 
    text-align: center;
    border-radius: 12px;
    font-size: 16px; 
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }