body {
    background-image: url('https://i.pinimg.com/originals/89/2f/a4/892fa41535cd98ac43e7219f26c03e31.gif');
    background-color: black; 
    color: white; 
}

h1 {
    color: aqua;
    text-align: center; 
    font: 
}

.menu {
    text-align: center; 
}

button {
    margin: 6px; 
    background-color: blueviolet;
    color: dodgerblue;
    padding: 10px 10px; 
    text-align: center;
    border-radius: 12px;
    font-size: 16px; 
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }